:root{
    --pink:#FAF4F2;
    --orange:#E76F51;
    --grey:#D2D2D2;
    --fool-dark:#3B3735;
    --primery-font:"Roboto-Regular",Arial, Helvetica, sans-serif;
    --primery-font-md:"Roboto-Medium",Arial, Helvetica, sans-serif;
    --second-font:"Archivo-Black",Arial, Helvetica, sans-serif;
    
}
html{
    box-sizing: border-box;
    font-size: 10px;

}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: var(--primery-font) ;
    background-color: var(--pink);

}
a{
    text-decoration: none;
}
/*
===============
   component
===============

*/
.btn{
    display: flex;
    width: 20rem;
    height: 5rem;
    color: #fff;
    background-color: var(--fool-dark);
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    margin-right: auto;
    margin-left: auto;
    font-family: var(--primery-font-md);
}


.header{
    background-image:linear-gradient(rgba(59,55,53,0.5),rgba(59,55,53,0.5)) ,url(../images/images/header-bg.jpg) ;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius:10rem ;
    border-bottom-right-radius: 10rem;
    min-height: 100vh;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}
.nav-left{
    display: flex;
}
.app-logo{
    display: block;
    width: 5rem;
    height: 5rem;
}
.menu{
    display: none;
    align-items: center;
    margin-left: 3rem;
}
.menu__item{
    margin-right: 2rem;
}
.menu_link{
    color: var(--grey);
    font-family: var(--primery-font);
    position: relative;
    transition: color 150ms ease-in;
    -webkit-transition: color 150ms ease-in;
    -moz-transition: color 150ms ease-in;
    -ms-transition: color 150ms ease-in;
    -o-transition: color 150ms ease-in;
    z-index: 5;
}
.menu_link:hover{
    color: #fff;
}
.menu_link--active{
    color: #fff;
}
.menu_link--active::before{
    content: " ";
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    background-color: var(--orange);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 0.8rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 3rem;
    z-index: -1;
    
}

.nav-menu{
    position: fixed;
    left: -24rem;
    top: 0;
    background-color: var(--fool-dark);
    width: 24rem;
    height: 47rem;
    padding: 1rem 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}
.nav-menu__title{
    font-family: var(--second-font);
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    font-size: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}
.nav-menu--open{
    left: 0rem;
}
/* .mobile-menu{

} */
.mobole-menu__item{
    line-height: 3rem;
}
.mobole-menu__link{
    color: #fff;
    font-family: var(--primery-font);
    position: relative;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}
.mobole-menu__link::before{
    content: " ";
    position: absolute;
    width:0;
    height: 0.3rem;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--orange);
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: all 250ms ease-in-out;
}
.mobole-menu__link:hover{
    padding-left: 2rem;
}
.mobole-menu__link:hover::before{
    width: 1.6rem;
}
.nav-menu__links{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.nav-menu__link{
    color: #fff;
    padding: 1rem 1.5rem;
    border: 1px solid #fff;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    font-family: var(--primery-font-md);
    transition: all 250ms ease-in-out;
}
.nav-menu__link:hover{
    color: var(--fool-dark);
    background-color: #fff;
}

.header__links{
display: none;
gap: 1rem;
}
.header__link{
    color: #fff;
    padding: 0.8rem 3rem;
    font-family: var(--primery-font-md);
}
.header__link--border{
    border: 1px solid #fff;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 150ms ease-in;

}
.header__link--border:hover{
    color:var(--fool-dark) ;
    background-color: #fff;
}
.nav__btn{
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav__btn-line{
    width: 2rem;
    height: 0.22rem;
    background-color: var(--orange);
    display: block;
    border-radius: 2rem;
    position: relative;
    transition: all 250ms ease-in-out;
    
}
.nav__btn-line::after,
.nav__btn-line::before{
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--orange);
    display: block;
    border-radius: 2rem;
    transition: all 250ms ease-in-out;
   
}
.nav__btn-line::before{
    top: 0.6rem;
}
.nav__btn-line::after{
    top: -0.6rem;
}
.nav__btn--open .nav__btn-line {
    background-color: transparent;
}
.nav__btn--open .nav__btn-line::after{
    transform:translateY(7px)rotate(45deg);
    height: 0.3rem;
}
.nav__btn--open .nav__btn-line::before{
    transform: translateY(-5px) rotate(-45deg) ;
    height: 0.3rem;
}
.header-content{
    color: #fff;
    text-align: center;
    margin-top: 10rem;
    padding: 0 1rem;
}
.header-content__title{
    font-family: var(--second-font);
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 3rem;
    max-width: 49rem;
    margin-left: auto;
    margin-right: auto;
}
.header-content__caption{
    font-size: 1.8rem;
    font-family: var(--primery-font);
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 35rem;
}
.header-content__link{
    
    background-color: var(--orange);
    

}
/*
=========================
  section bottom header
=========================
*/
.main{

}
.servises{
    display: flex;
    flex-wrap: wrap;
    margin-top: -15rem;
    justify-content: center;
    gap: 2rem;
}
.servise{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 31rem;
    height: 26rem;
    background-color: #fff;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: 0.7px 0.7px 0.7px 0.7px var(--grey);
    color: var(--fool-dark);
    flex-grow: 1;

}
.servise__img{
    margin-bottom: 1rem;
}
.servise__title{
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-family: var(--second-font);
}
.servise__caption{
    font-size: 1.6rem;
    font-family: var(--primery-font);

}
.destination{

}
.destenation__logo{

}
.destination__title{

}