.container{
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 370px) {
    .header-content__title{
      font-size: 3.5rem;
      max-width: 27rem;
    }
    .header-content__caption{
        font-size: 1.4rem;
        max-width: 27rem;
    }
}
@media screen and (min-width: 576px) {
    .container{
        width: 54rem;
    }
     .header-content__caption{

        max-width: 34rem;
    }
}
@media screen and (min-width: 768px) {
    .container{
        width: 72rem;
    }
    .header-content__caption{

        max-width: 50rem;
    }
}
@media screen and (min-width: 992px) {
    .container{
        width: 96rem;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        width: 114rem;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        width: 135rem;
    }
}