@media screen and (max-width: 370px) {
    .header-content__title{
      font-size: 3.5rem;
      max-width: 27rem;
    }
    .header-content__caption{
        font-size: 1.4rem;
        max-width: 27rem;
    }
    .footer__rigth {
    flex-wrap: wrap;
    }
    .footer-list {
    width: 13rem;
    }
}
@media screen and (min-width: 370px) {

    .destination__title{
       font-size: 2.4rem;
    }
 
}
@media screen and (min-width: 576px) {
     .header-content__caption{

        max-width: 34rem;
    }
     .destination__title{
       font-size: 3rem;
    }
    
 
}
@media screen and (min-width: 768px) {
    .nav__btn,.nav-menu{
        display: none;
    }
    .header-content__caption{

        max-width: 50rem;
    }
    .menu{
        display: flex;
    }
   .place {
    width: 33.5rem;
    }
    .newsletter{
        flex-direction: row;
        text-align: start;
        padding: 3rem 6rem;
        max-height: 39rem;
    }
    
}
@media screen and (min-width: 992px) {
   .header__links{
        display: flex;
    }
    .place {
    width: 45.5rem;
    }
    .footer__wrapper{
        display: flex;
    }
    .scroll-icon{

        left: auto;
    }
}
@media screen and (min-width: 1200px) {
   .servise{
    width: 36rem;
   }
   .place {
    width: 54.5rem;
    }
}
@media screen and (min-width: 1400px) {
  .servise{
    width: 31rem;
   }
    .place {
    width: 31.5rem;
   }
}