/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media screen and (max-width: 370px) {
    .header-content__title{
      font-size: 3.5rem;
      max-width: 27rem;
    }
    .header-content__caption{
        font-size: 1.4rem;
        max-width: 27rem;
    }
    .footer__rigth {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .footer-list {
    width: 13rem;
    }
   

}
@media screen and (min-width: 370px) {

    .destination__title{
       font-size: 2.4rem;
    }
     .newsletter::before{
        width: 82rem;
    }
 
}
@media screen and (min-width: 576px) {
     .header-content__caption{

        max-width: 34rem;
    }
     .destination__title{
       font-size: 3rem;
    }
     .newsletter::before{
        width: 99rem;
    }
    .container{
        width: 54rem;
    }
    
 
}
@media screen and (min-width: 768px) {
    .nav__btn,.nav-menu{
        display: none;
    }
    .header-content__caption{

        max-width: 50rem;
    }
    .menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
   .place {
    width: 33.5rem;
    }
    .newsletter{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        text-align: start;
        padding: 3rem 6rem;
        max-height: 39rem;
    }
    .newsletter::before{
        left: -56rem;
        right: 0;
        top: -39rem;
        bottom: 0;
        width: auto;
        height: auto;
        background-size: auto;
    }
    .container{
        width: 72rem;
    }
    
}
@media screen and (min-width: 992px) {
   .header__links{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .place {
    width: 45.5rem;
    }
    .footer__wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .scroll-icon{

        left: auto;
    }
    .container{
        width: 96rem;
    }
}
@media screen and (min-width: 1200px) {
   .servise{
    width: 36rem;
   }
   .place {
    width: 54.5rem;
    }
    .newsletter::before{
        left: -31rem;
        right: 0;
        top: -39rem;
        bottom: 0;
        width: auto;
        height: auto;
        background-size: auto;
    }
    .container{
        width: 114rem;
    }
}
@media screen and (min-width: 1400px) {
  .servise{
    width: 31rem;
   }
    .place {
    width: 31.5rem;
   }
    .container{
        width: 135rem;
    }
}