@media screen and (min-width: 576px) {
   
}
@media screen and (min-width: 768px) {
    .nav__btn,.nav-menu{
        display: none;
    }
    .menu{
        display: flex;
    }
   
}
@media screen and (min-width: 992px) {
  .header__links{
        display: flex;
    }
   
}
@media screen and (min-width: 1200px) {
   .servise{
    width: 36rem;
   }
}
@media screen and (min-width: 1400px) {
  .servise{
    width: 31rem;
   }
}